@import url("https://fonts.googleapis.com/css2?family=Krub:wght@500&family=Rubik:wght@500;600&display=swap");

h1,
h2,
h3 {
    font-family: "Rubik", sans-serif !important;
    line-height: 1.3;
    color: #fff;
}
h3 {
    font-size: 26px;
}
p,
li {
    font-family: "Krub", sans-serif !important;
    font-size: 16px;
    line-height: 25px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #fff;
}
.main-color{
    color: #ef932a;
}
.footer{
    margin-top: 8rem;
    background: url('../images/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gradient-bg{
    background: linear-gradient(to bottom, #020202, transparent);
    height: 3rem;
    width: 100%;
}